@charset "utf-8";
/* CSS Document */
/* @import "../../../css/components/left.css";
@import "../../../css/components/top.css";
@import "../../../css/components/nav.css";
@import "../../../css/components/crumbs.css";
@import "../../../css/components/bottom.css"; */

.container{ position:relative; margin:0px auto 30px; }
#itemTwo, #itemThree { display: none; margin-left: 20px; }
#itemTwo1, #itemThree1 { display: none; margin-left: 20px; }


/* 套餐中  房价标签 & 房型标签 */
.rates_labels_box {margin-right:30px;}
.rates_labels_box .rates_labels_box_label {float: left;line-height:25px;margin-right:5px;width: 98px;text-align: right}
.rates_labels_box .rates_labels_box_item {float: left;height: 23px; color: #333;line-height: 23px;background: #FFF;border: 1px solid #DCDCDC;padding: 0 10px;font-size: 14px;min-width: 58px;text-align: center;border-radius: 5px;cursor: pointer;margin-right: 5px;}
.rates_labels_box .rates_labels_box_item.active {border-color: #0194FC;color:#0194FC;}
.room_type_labels {margin-top:10px;}
.room_type_labels_item {float: left;width:33px;height:16px;line-height: 16px;text-align: center;margin:2px;background: #f05229;border-radius: 33px;color:#fff;font-size: 12px;}

.promotional-info {margin:10px;line-height: 20px}
.product-description-box {margin:10px;line-height: 20px}
.product-description-more {margin:10px 0 10px -8px;line-height: 20px;cursor: pointer;float: left}

/* 表格 */
.align-left,.align-l{text-align:left}
.tabel-overview, .tabel-detail{ width:100%;text-align:center}
.tabel-overview td, .tabel-detail td{ border-top:1px solid #DCDCDC;height:50px;}
.tabel-overview .info-box-top, .tabel-overview .info-box-bot{width:230px}
.tabel-detail th{font-size:14px; height:35px}
.tabel-detail td{ height:70px;font-size:14px;position: relative;}
.tabel-overview th{font-size:14px; height:35px;background:#F9F9FB;}
.tabel-overview td{ height:50px;font-size:12px;position: relative;}
.tabel-overview td.first, .tabel-detail td.first{background:#F9F9FB; width:80px; font-size:14px}
.table_caption{height:30px;line-height:30px;background:#F9F9FB;border:1px solid #DCDCDC;border-bottom:0}

/* 表格th 上下箭头 */
.arrow{width:14px;height:14px;display:inline-block;position:relative;}
.arrow_down{display:block;border-right:5px solid transparent;border-left:5px solid transparent;border-top:5px solid #666;border-bottom:5px solid transparent;width:0px;height:0px;position:relative;top:0px;left:5px;}
.arrow_up{display:block;border-right:5px solid transparent;border-left:5px solid transparent;border-top:5px solid transparent;border-bottom:5px solid #666;width:0px;height:0px;position:relative;top:-3px;left:5px;}


/* 产品描述 弹窗  */
.win-tit{height:30px; line-height:30px; text-align:center; border-bottom:1px solid #DCDCDC; background:#FAFAFC}
.my-window-product-description {width:420px;margin-left:-210px;position:fixed;height:220px}
.product-description {text-align: left;margin:10px;line-height: 20px;display: inline-block;height: 20px;overflow: hidden;width:150px;float:left}
.product-description p {height: 20px;}
.product-description-div {text-align: left;margin:10px;line-height: 20px}
/* 选择弹窗 */
/********/
.sureYudingBox{background: #fff;width: 460px;height:225px;padding:10px 20px 20px;border: 1px solid #dcdcdc;position:fixed;left: 50%;top: 50%;margin-left: -240px;margin-top: -110px;z-index: 9999;display: none;text-align:left;}
.sureYudingBox .cRed{color: #f35637;font-size:16px;margin-right:3px;font-weight:bold;}
.sureYudingBox p.cRed{margin-top: 25px;margin-bottom: 10px;font-weight:normal;}
.sureYudingBox .sureTit{font-size:14px;line-height: 30px;}
.sureYudingBox .sureYuding{border-top: 1px solid #dcdcdc;padding: 15px 0 0 0;font-size: 16px;overflow: hidden;}
.sureYudingBox .addSure{float: left;}
.sureYudingBox .addSure span{display: inline-block;border: 1px solid #ddd;border-radius:5px;width: 28px;height: 30px;text-align: center;line-height: 30px;font-size: 16px;cursor: pointer;margin: 0 5px;}
.sureYudingBox .addSure span.numS{width: 58px;}
.sureYudingBox .sureYuding .blueBtns{background: #1a96fa;margin: 0 5px;}

/* 弹窗提示 */
.my-window-message {min-width:402px;top:50%;left:50%;margin-left:-201px;min-height:150px;margin-top:-75px;border-radius:5px}
.my-window-message-box {text-align: center;padding:30px 0 0;font-size: 16px;line-height: 50px}

/* 查询区域 */
.tab_con_search_box {padding:20px;border:1px solid #dcdcdc;background: #f9f9fb}






/* 111 */
