@charset "utf-8";
/* CSS Document */
/*@import "../../../css/components/left.css";
@import "../../../css/components/top.css";
@import "../../../css/components/nav.css";
@import "../../../css/components/crumbs.css";
@import "../../../css/components/bottom.css";*/

/*.container .area{ position:relative; margin:0px auto 30px; font-size:14px; border: 1px solid #dcdcdc;}*/

.loading-error { text-align:center; line-height:50px; color:#ccc; padding:76px 0px; }
.loading-error img { margin: 0 auto; }
/* loading */
.loading { height:150px; text-align:center; line-height:50px; color:#ccc; padding:120px 0px 0px; background: url('http://static.inner.chimelong.com:30221/evente/c/wap/img/hotel/loading.gif') no-repeat center center; background-size: 30px 30px; }

/*  表格样式 */
.tabel-order{ width:100%;text-align:center;}
.tabel-order td{font-size:12px;height:40px;}
.tabel-order th{ background:#f9f9fb;height:35px;}
.tabel-order .first-td{padding:10px 0;position:relative;line-height:1.5em;}
.tabel-order .first-td img{float:left;margin-left:10px;}
.tabel-order .first-td p{width:260px;text-align:left;}
.table-tit th{border:none;}
.table-tit tr{border:1px solid #dcdcdc;}
.no-bor_left{border-left:none;}
.no-bor_right{border-right:none;}
.tabel-6{border:1px solid #dcdcdc;}
caption{border:1px solid #dcdcdc;height:40px;line-height:40px;margin-bottom:-1px;background:#f9f9fb;font-size: 12px}
.order_T{text-align:left;height:35px;line-height:35px;background:#fffcdf;}
.order_B{text-align:left;height:35px;line-height:35px;background:#fffcdf;border:1px solid #dcdcdc;margin-top:-1px;font-size: 12px}
.bg-hui{background:#f9f9fb}
.order_info{border:1px solid #dcdcdc;height:49px;line-height:50px;margin-top:-1px;background:#fffcdf}
.table-d td{padding:0 10px;}

.ml5{margin-left:5px}
.mt5{margin-top:5px}
.mr5{margin-right:5px}
.mb5{margin-bottom:5px}
.ml6{margin-left:6px}
.mt6{margin-top:6px}
.mr6{margin-right:6px}
.mb6{margin-bottom:6px}
.align-l, .align-left {text-align: left}
.align-center {text-align: center;}
.align-right {text-align: right}

/* 按钮 */
.btn-y{ display:inline-block; border:none; background:#fd883b; border-radius:5px; text-align:center; line-height:30px; color:#FFF; font-size:14px; height:30px;width:90px; position:relative}
.btn-y:hover{ background:#e06210; text-decoration:none; color:#FFF}
.btn-y:active{ background:#fc6705}
.btn-y-blue{box-shadow:none;background:#1996f9;color:#fff;}
.btn-y-blue:hover{background:#0084E1}
.btn-y-white{background:#fff;box-shadow:none;color:#333;border:1px solid #dcdcdc;box-sizing: border-box;}
.btn-y-white:hover{background:#fff;color:#333;}



/* 表格中的表格 */
.tabel-order-child {width:100%;margin:-1px}
.tabel-order-child td {padding:20px;line-height: 2em}



/* 申请改期 */
.rescheduled-info-right {text-align: left}
.rescheduled-name {display: inline-block;width: 60%;text-align: left}
.rescheduled-number {display: inline-block;width:30%;text-align: right}
.grzx-application-rescheduled-num {width:18px;height:18px;line-height: 18px;text-align: center;color:#fff;background: #1996f9;display: inline-block;border-radius: 16px;margin-right:5px}
.rescheduled-box {position: relative;}
.table-selected {border:1px solid #1996f9;position: absolute;top:0;left:0;width:100%;height:100%;box-sizing: border-box;z-index: 0;display: none}
.CheckBoxLabelClass, .input{position: relative;}
.my-window-rescheduled-tips {min-height:50px;line-height: 50px;text-align: center;padding:25px 0;margin-top:-50px;min-width: 340px;margin-left:-170px}
.my-window-rescheduled-tips-box {font-size: 20px;}
.js-rescheduled {cursor: pointer;}

.cl_name{width:6.5em;text-align:right;height:32px;line-height:32px;margin-right:10px;font-size: 12px}
.cl-name{height:32px;line-height:32px;font-size: 12px}

/* 申请售后 */
.fir_Boxs {position: relative;}
.grzx-after-sale-dingdan {width:290px;text-align:left}
.grzx-after-sale-dingdan-xinxi {width:200px}
.grzx-after-sale-dingdan-price-box{width:88px;text-align:center;position:relative;}
.grzx-after-sale-box-border {min-height:30px;line-height: 30px;border:1px solid #dcdcdc;padding:10px;font-size: 12px}
.grzx-after-sale-description {clear:both;padding-top:20px}
.grzx-after-sale-description-textarea {padding:10px;border:none;border:1px solid #dcdcdc;font-size: 12px}
.grzx-after-sale-description-textarea:focus{ border:1px solid #1996f9}
.bea-sele {font-size: 12px}

/* 数量加减  */
.number{display:inline-block;overflow:hidden;}
.number em{float:left;}
.number span{float:left;width:28px;text-align:center;border:1px solid #ccc; cursor: pointer;font-size:24px;border-radius:3px;color:#666;height:28px;line-height:28px;background: #fff}
.number .input{float:left;margin:0 10px;border-radius:3px;height:28px}
.dingdan_del{cursor:pointer;}
/* 酒店价格浮框 */
.cur-price{cursor:pointer;border-bottom:1px dashed #1996f9;}
.price-fukuang{width:150px;padding:10px;line-height:20px;border:1px solid #dcdcdc;background:#fff;z-index:1000;color:#333;position:absolute;left:50%;margin-left:-80px;text-align: left}

/* 确认信息  弹窗 */
.my-window-confirm-information {min-width: 260px;margin-left:-130px}
.my-window-confirm-information-box {padding:20px;line-height: 20px}
/* 温馨提示 成功、失败*/
.my-window-warm-tips {min-width: 430px;margin-left:-215px}
.my-window-warm-tips-box {padding:20px}
.my-window-warm-tips-successful {width:390px;margin:0 auto;}
.my-window-warm-tips-successful-icon {width:50px;height:50px;}
.my-window-warm-tips-successful-box {line-height: 1.75em;color:#333;width:320px}
.my-window-warm-tips-successful-box-tit {margin:0 0 5px;color:#000}
.my-window-warm-tips-successful-line {border-top:1px dashed #999;margin:5px 0 6px}

.my-window-warm-tips-failed {width:390px;margin:0 auto;}
.my-window-warm-tips-failed-icon {width:50px;height:50px;}
.my-window-warm-tips-failed-box {line-height: 1.75em;color:#333;width:320px}
.my-window-warm-tips-failed-box-tit {margin:0 0 5px;color:#000}
.my-window-warm-tips-failed-line {border-top:1px dashed #999;margin:5px 0 6px;}

/* 弹窗 */
.my-window-tit, .my-window-box{text-align: center;margin-top:20px}
.my-window-title {text-align: center;height:30px;line-height: 30px;background: #f9f9fb;border-bottom:1px solid #dcdcdc;}
.my-window-close {position: absolute;top:8px;right:8px;width:15px;height:15px;}
/* 确认订单*/
/* 弹窗错误提示 */
.my-window-error-message {width:300px;margin-left:-150px;min-height:150px;margin-top:-75px}
.my-window-error-message-box {text-align: center;padding:30px 0 0;font-size: 16px;line-height: 50px}
