@charset "utf-8";

.order-detail { margin: 0 30px; padding-bottom: 30px; }
.table-brief, .table-info { width:100%; text-align:center; }
.table-brief td, .table-brief th, .table-info th { border-top:1px solid #DCDCDC; font-size:12px; height:30px; line-height:18px; padding: 3px 5px; }
.table-brief td.first, .table-brief th, .table-info th { background:#F9F9FB; font-size:14px; }


/*  */
.order-T{text-align:center;height:35px;line-height:35px;background:#F9F9FB;border:1px solid #dcdcdc;margin-bottom:-1px;font-size: 14px;padding:0 10px}
.setbacks-order-T {text-align:center;height:35px;line-height:35px;background:#F9F9FB;border-bottom:1px solid #dcdcdc;margin-bottom:-1px;font-size: 14px;padding:0 10px}

/* 订单进度条 */
.refund-setbacks {margin:20px 0}
.refund-setback{padding:0 20px;text-align: center}
.refund-setback-li{display: inline-block;position:relative;width:70px;margin-right:170px;text-align:center;line-height:1em;vertical-align: top}
.refund-setback-li:before {content:'';width:220px;height:1px;background:#999999;position:absolute;left:47px;top:24px;z-index: -1} .refund-setback-li:after {content:'';width:0px;height:1px;background:#fd883b;position:absolute;left:47px;top:24px;z-index: -1}

.refund-setback-li:nth-last-child(1){margin-right:0;}
.refund-setback-li:nth-last-child(1):before, .refund-setback-li:nth-last-child(1):after{width:0;height:0;}

.Set_Num{width:27px;height:27px;display:block;border-radius:100%;margin:12px auto 0;position:relative;}
.refund-setback-li .Set_Num .icon_f{width:27px;height:27px;background:url(../../../ dimages/icon-no-arrived.png) center center no-repeat;background-size: 100%;position:absolute;left:0px;top:0px;border-radius:100%;}
.refund-setback-li-text {margin-top:10px;width:70px;line-height: 20px;font-size: 12px}

/* 进度条已完成的 已完成不代表成功 */
.refund-setback-li.arrvied .Set_Num .icon_f {width:27px;height:27px;background:url(../../../images/icon-true.png) center center no-repeat;background-size: 100%;}
.refund-setback-li.arrvied:after {width:110px}
.refund-setback-li.success:after {width:220px}

/* 进度条未到样式 */
.refund-setback-li.no-arrvied .Set_Num .icon_f {width:27px;height:27px;background:url(../../../images/icon-no-arrived.png) center center no-repeat;background-size: 100%;}

/* 进度条失败样式 */
.refund-setback-li.fail .Set_Num .icon_f{background:url(../../../images/icon-false.png) center center no-repeat;background-size: 100%;width:27px;height:27px;}

/* 新加进度条提示信息 */
.refund-setback-status {width: 40px;padding:2px 6px;font-size: 12px;position: absolute;left:130px;top:0;background: #fd883b;color:#fff;border-radius:10px;}
.refund-setback-status:after {content: '';position: absolute;bottom:-3px;left:50%;margin-left:-3px;width:0px;height:0px;border:3px solid #fd883d;border-top-color:transparent;border-left-color:transparent;transform: rotate(45deg)}

.refund-setbacks-tips {width:550px;margin:10px auto;color:#999;line-height: 20px;text-align: center;font-size: 12px}
.tabel-refund-setbacks {border:1px solid #dcdcdc}
